<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>kainkain</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/bb/css/bootstrap.css') }}" rel="stylesheet">

    {#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('bun') }}" rel="stylesheet">#}

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/bb/css/bb.css') }}" rel="stylesheet">

    {% endblock stylesheets %}

    {#<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->#}
</head>

<body>
<div id="container" class="container">


{% block n2 %}{% endblock n2 %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('bundles/bb/js/jquery-3.2.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bb/js/bb.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bb/js/app.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/bb/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/bb/js/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('bundles/bb/js/imagesloaded.pkgd.min.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock javascript %}


</div>


</body>
</html>