<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog de Kainkain">
    <meta name="author" content="YIGIT Tamer">
    <link rel="icon" href="favicon.ico">

    <title>kainkain</title>

    {#<script type="text/javascript" src="{{ asset('bundles/bb/js/jquery-3.2.1.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/bb/js/bb.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/bb/js/app.js') }}"></script>#}

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/bb/css/css/all.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/bb/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/bb/css/bb.css') }}" rel="stylesheet">

    {% endblock stylesheets %}
</head>

<body>

{% block doodle %}{% endblock doodle %}
{% block contact %}{% endblock contact %}
{% block satire %}{% endblock satire %}
{% block painter %}{% endblock painter %}

<div id="container" class="container">

{% block n3 %}{% endblock n3 %}

{% block javascript %}
<script src="{{ asset('bundles/bb/js/es6-promise.auto.min.js') }}"></script>
<script src="{{ asset('bundles/bb/js/html2canvas.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/bb/js/jquery-3.2.1.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bb/js/bb.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/bb/js/app.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/bb/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/bb/js/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('bundles/bb/js/imagesloaded.pkgd.min.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

{% endblock javascript %}

</div>

</body>
</html>