{% extends '@BB/n2_admin.html.twig' %}
{% block n3 %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="well well-lg">
                <a class="glyphicon glyphicon-arrow-left" href="{{ path('bb_homepage')}}"></a>

            </div>
        </div>
    </div>





<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="signin_space">

            <div class="col-xs-6 col-xs-offset-3">
                {#<form action="" method="post">#}
                    {#<fieldset>#}
                        {#<legend><i class="fa fa-lock"></i> Secure Sign in</legend>#}
                     {#   <div class="form-group">
                            <label for="adOne"></label>
                            <input type="text" id="adOne" name="_adOne" value="{{ last_username }}" class="form-control"/>

                            <label for="adTwo"></label>
                            <input type="password" id="adTwo" name="_adTwo" class="form-control" />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <input type="submit" class="btn btn-primary">


                    #}{#</fieldset>#}{#
                </form>#}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}


                </div>
        </div>
    </div>
</div>








{% endblock n3 %}

